@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-container {
  flex-grow: 1;
}

.content-container {
  margin: 0 auto;
  width: 1060px;
}

.page-header,
.main-index,
.main-inner,
.page-footer {
  background-color: #ffffff;
}

.navigation {
  display: flex;
}

.navigation-logo .navigation-logo-img {
  display: block;
}

.navigation-list {
  margin: 0;
  margin-right: auto;
  padding: 0;
  width: 550px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user {
  max-width: 300px;
  list-style: none;
  display: flex;
  margin-block: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
  margin-inline: auto 20px;
}

.navigation-link {
  padding: 20px 16px;
  position: relative;
}

.navigation-link:hover {
  -webkit-text-decoration-color: #82B3D3;
  text-decoration-color: #82B3D3;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 23px;
}

.navigation-link:focus-visible {
  opacity: 0.5;
}

.navigation-link:active {
  opacity: 0.3;
}

.link-active::before {
  content: "";
  background-color: #756257;
  height: 2px;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
}

.navigation-user-favourite {
  position: relative;
  background: url("../images/icons/heart.svg") no-repeat center;
}

.navigation-user-search {
  background: url("../images/icons/search.svg") no-repeat center;
}


.navigation-user-search:hover,
.navigation-user-favourite:hover {
  opacity: 0.6;
}

.navigation-user-search:focus-visible,
navigation-user-favourite:focus-visible {
  opacity: 0.6;
}

.navigation-user-search:active,
navigation-user-favourite:active {
  opacity: 0.3;
}

.navigation-button {
  padding: 8px 34px;
  align-self: center;
  border-radius: 4px;
  min-width: 160px;
}

.navigation-button:hover,
.navigation-button:focus-visible {
  background-color: #615048;
}

.navigation-button:active {
  background: #756157;
  color: #FFFFFF4D;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-link,
.navigation-user-link {
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  display: block;
  line-height: 24px;
}

.navigation-user-link {
  padding: 20px 22px;
  min-width: 18px;
  min-height: 20px;
}

.navigation-user-item {
  min-width: 44px;
  min-height: 64px;
  display: flex;
}

.favourite-count {
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
  display: block;
  min-width: 20px;
  min-height: 20px;
  position: absolute;
  left: 20px;
  top: 10px;
}

.navigation-logo {
  display: block;
  margin-right: 30px;
  width: 138px;
  margin-bottom: -6px;
}

.navigation-logo:hover,
.navigation-logo:focus {
  opacity: 0.6;
}

.navigation-logo:active {
  opacity: 0.3;
}

.button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  border: none;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
}

.hero {
  background-color: #d4cfcc;
  background-image: url("../images/divider.svg"), url("images/index-background.png");
  background-size: 100% auto, cover;
  background-position: bottom, top;
  background-repeat: no-repeat;
  min-height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
}
