@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

html {
  height: 100%;
}

body {
  min-width: 1200px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
  color: #333333;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 8px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  align-items: center;
  min-height: 36px;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  cursor: pointer;
}

.page-header {
  min-height: 64px;
  padding: 0 70px;
}

.navigation {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.navigation-logo[href]:hover {
  opacity: 0.8;
}

.navigation-logo[href]:focus {
  outline: none;
  opacity: 0.8;
}

.navigation-logo[href]:active {
  opacity: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 0 0 168px;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  outline: none;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #00000099;
}

.navigation-link:active {
  color: #0000004d;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
  z-index: 1;
}

.navigation-link-current:hover::after,
.navigation-link-current:focus::after {
  background-color: #75625799;
}

.navigation-link-current:active::after {
  background-color: #7562574d;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 176px;
  margin: 0 20px 0 auto;
  padding: 0;
  list-style-type: none;
}

.user-menu-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 64px;
  text-decoration: none;
}

.user-menu-link:focus {
  outline: none;
}

.user-menu-icon {
  width: 18px;
  height: 18px;
}

.user-menu-link:hover .user-menu-icon,
.user-menu-link:focus .user-menu-icon {
  fill: #00000099;
}

.user-menu-link:active .user-menu-icon {
  fill: #0000004d;
}

.likes-number {
  position: absolute;
  top: 11px;
  left: 20px;
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: #7db54f;
  color: #ffffff;
}

.navigation-button {
  width: 160px;
  margin-top: 14px;
  background-color: #756157;
  flex-shrink: 0;
}

.navigation-button:hover,
.navigation-button:focus {
  background-color: #615048;
  outline: none;
}

.navigation-button:active {
  color: #ffffff4d;
}

.navigation-button:disabled {
  background-color: #e5e5e5;
}

.main-index {
  flex-grow: 1;
}

.index-hero {
  position: relative;
  overflow: hidden;
  min-height: 485px;
  padding-top: 51px;
  padding-bottom: 78px;
  text-align: center;
  background-image: url("../images/background-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #26343f;
  z-index: 0;
}

.index-hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: url("../images/svg/background-mask.svg") no-repeat bottom center;
  background-size: cover;
  pointer-events: none;
}

.advantages {
  padding-top: 69px;
  text-align: center;
}

.advantages-lead {
  width: 660px;
  margin: 0 auto 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text {
  width: 660px;
  margin: 0 auto 90px;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  min-height: 385px;
  padding: 112px 85px;
  background-color: #83b3d31f;
}

.advantages-item:nth-child(odd):not(.advantages-item-special) {
  background-color: #83b3d333;
}

.advantages-item-special {
  grid-column: 1 / -1;
  display: flex;
  padding: 0;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-special:last-child {
  flex-direction: row-reverse;
}

.advantages-item-content {
  max-width: 400px;
  padding: 102px 85px;
}

.advantages-item-special .advantages-item-title {
  color: #ffffff;
}

.advantages-item-title {
  position: relative;
  margin: 0 0 62px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-title::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0000004d;
}

.advantages-item-special .advantages-item-title::before {
  background-color: #ffffff4d;
}

.advantages-item-text {
  margin: 0;
}

.services {
  padding-top: 64px;
  text-align: center;
}

.services-title {
  width: 510px;
  margin: 0 auto 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.services-text {
  width: 510px;
  margin: 0 auto 64px;
  font-size: 22px;
  line-height: 26px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 385px;
  padding: 80px 85px;
  background-color: #83b3d31f;
}

.services-item:nth-child(even) {
  background-color: transparent;
}

.services-icon {
  margin: 0 0 auto;
  display: block;
}

.services-item-title {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.services-title-icon::before {
  content: "";
  display: block;
  width: 74px;
  height: 74px;
  margin: 0 auto 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.services-title-house::before {
  background-image: url("../images/svg/house.svg");
}

.services-title-food::before {
  background-image: url("../images/svg/burger.svg");
}

.services-title-gift::before {
  background-image: url("../images/svg/gift.svg");
}

.services-item-text {
  margin: 0;
}

.hotel-search {
  padding: 96px 0;
  text-align: center;
}

.hotel-search-title {
  margin: 0 300px 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-text {
  margin: 0 300px 54px;
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-button {
  width: 376px;
  min-height: 52px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: #615048;
  outline: none;
}

.hotel-search-button:active {
  color: #ffffff4d;
}

.hotel-search-button:disabled {
  background-color: #e5e5e5;
}

.subscribe {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe-special {
  background-image: url("../images/background-subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #26343f;
}

.subscribe-special .subscribe-title {
  color: #ffffff;
}

.subscribe-title {
  width: 480px;
  margin: 0 auto 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-text {
  width: 480px;
  margin: 0 auto 54px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-input {
  width: 452px;
  min-height: 52px;
  margin: 0;
  padding: 0 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  background-color: #f2f2f2;
}

.subscribe-input:hover,
.subscribe-input:focus,
.subscribe-input:active {
  background-color: #e5e5e5;
  outline: none;
}

.subscribe-button {
  width: 232px;
  min-height: 52px;
  margin: 0;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.subscribe-button:active {
  color: #ffffff4d;
}

.subscribe-button:disabled {
  background-color: #e5e5e5;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 45px 70px 35px;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 47px;
  height: 40px;
}

.social-link:focus {
  outline: none;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #68a2ca;
}

.social-link:active .social-icon {
  fill: #68a2ca4d;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.phone {
  max-width: 600px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  white-space: nowrap;
}

.phone:hover,
.phone:focus {
  color: #756157;
  outline: none;
}

.phone:active {
  color: #7561574d;
}

.academy-logo {
  display: flex;
  align-items: center;
  height: 40px;
}

.academy-logo:focus {
  outline: none;
}

.academy-icon {
  display: block;
  width: 115px;
  height: 33px;
}

.academy-logo:hover .academy-icon,
.academy-logo:focus .academy-icon {
  fill: #756157;
}

.academy-logo:active .academy-icon {
  fill: #7561574d;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2cc;
  z-index: 100;
}

.is-hidden {
  display: none;
}

.modal-open {
  overflow: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 717px;
  max-height: 576px;
  margin: auto;
  padding-right: 20px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 #00000026;
  overflow: hidden;
}

.modal-body {
  overflow-y: auto;
  max-height: 100%;
  padding: 64px 70px;
  padding-right: calc(35px + env(safe-area-inset-right));
  scrollbar-gutter: stable;
}

.modal-content {
  position: relative;
}

.modal-title {
  max-width: 500px;
  margin: 0 0 64px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.modal-close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -18px;
  padding: 0;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e5e5e5;
}

.modal-close-button:focus {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  outline: none;
  background-color: #e5e5e5;
}

.modal-close-button:active svg {
  opacity: 0.3;
}

.hotel-search-form {
  display: grid;
  grid-template-columns: 247px 242px;
  gap: 48px 88px;
  width: 100%;
}

.form-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.search-form-field {
  height: 48px;
  padding: 0 20px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  color: #000000;
}

.search-form-field:hover {
  background-color: #e5e5e5;
}

.search-form-field:focus {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.checkin-group,
.checkout-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  grid-column: 1 / -1;
}

.form-hint {
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 44px;
  margin: 4px 0 0 157px;
  font-size: 16px;
}

.form-hint-error {
  color: #ff5757;
}

.form-hint-success {
  color: #333333;
}

.date-input {
  position: relative;
  width: 440px;
  padding-right: 60px;
  border-radius: 4px;
  background-image: url("../images/svg/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
  background-size: 16px 15px;
}

.number-input {
  position: relative;
  width: 31px;
  padding: 0 5px;
  text-align: center;
  z-index: 1;
}

.number-input-wrapper {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
}

.field-adults {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / 2;
}

.field-children {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2 / -1;
}

.btn-minus,
.btn-plus {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 48px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.btn-minus::after,
.btn-plus::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  pointer-events: none;
  box-shadow: none;
}

.btn-minus:focus::after,
.btn-plus:focus::after {
  box-shadow: 0 0 0 3px #82b3d3;
}

.btn-minus {
  border-radius: 4px 0 0 4px;
}

.btn-plus {
  border-radius: 0 4px 4px 0;
}

.btn-minus:hover svg,
.btn-plus:hover svg {
  fill: #000000;
}

.btn-minus:focus,
.btn-plus:focus {
  outline: none;
}

.btn-minus:focus svg,
.btn-plus:focus svg {
  fill: #000000;
}

.btn-minus:active svg,
.btn-plus:active svg {
  opacity: 0.2;
}

.tooltip {
  position: relative;
  margin: 0 auto 0 10px;
  padding: 0;
}

.tooltip-toggle {
  display: block;
  width: 26px;
  height: 26px;
  border: none;
  padding: 0;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/svg/tooltip-icon.svg");
  background-repeat: no-repeat;
  background-size: 2px 12px;
  background-position: center;
  cursor: pointer;
}

.tooltip-toggle:focus {
  outline: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text {
  position: absolute;
  display: none;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 256px;
  margin-top: 15px;
  padding: 20px 18px 23px 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: start;
  text-transform: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 #0000004d;
  z-index: 10;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: -5px;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #333333;
  transform: translateX(-50%) rotate(45deg);
}

.form-submit {
  height: 60px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
  grid-column: 1 / -1;
}

.form-submit:hover {
  background-color: #68a2ca;
}

.form-submit:focus {
  background-color: #68a2ca;
  outline: none;
}

.form-submit:active {
  background-color: #68a2ca;
  color: #ffffff4d;
}

.main-inner {
  flex-grow: 1;
}

.filter {
  min-height: 412px;
  padding: 35px 70px 70px;
  background-image: url("../images/background-form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #26343f;
}

.filter-title {
  margin: 0 0 7px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
  width: 7px;
  height: 10px;
  background-image: url("../images/svg/arrow-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  cursor: default;
}

.breadcrumbs-link[href]:hover,
.breadcrumbs-link[href]:focus {
  color: #ffffff99;
  outline: none;
  cursor: pointer;
}

.breadcrumbs-link[href]:active {
  color: #ffffff4d;
  cursor: pointer;
}

.breadcrumbs-icon {
  width: 13px;
  height: 13px;
}

.breadcrumbs-link:hover .breadcrumbs-icon,
.breadcrumbs-link:focus .breadcrumbs-icon {
  fill: #ffffff99;
}

.breadcrumbs-link:active .breadcrumbs-icon {
  fill: #ffffff4d;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  margin: 0 70px 0 0;
  padding: 0;
  border: none;
}

.type-of-housing {
  margin-right: auto;
}

.catalog-filter-title {
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  cursor: pointer;
  line-height: 23px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  padding-left: 36px;
}

.control-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.control-input[type="checkbox"] + .control::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control-input[type="checkbox"]:checked + .control::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 7px;
  width: 13px;
  height: 11px;
  background: url("../images/svg/checkmark.svg") no-repeat center center;
  background-size: contain;
}

.control-input[type="checkbox"]:hover + .control {
  opacity: 0.6;
}

.control-input[type="checkbox"]:focus + .control::before {
  outline: 3px solid #83b3d3;
}

.control-input[type="checkbox"]:active + .control {
  opacity: 0.3;
}

.control-input[type="radio"] + .control::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.control-input[type="radio"]:checked + .control::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
}

.control-input[type="radio"]:hover + .control {
  opacity: 0.6;
}

.control-input[type="radio"]:focus + .control::before {
  outline: 3px solid #83b3d3;
}

.control-input[type="radio"]:active + .control {
  opacity: 0.3;
}

.control-input:disabled + .control {
  opacity: 0.1;
  pointer-events: none;
  cursor: default;
}

.control-input:disabled + .control::before {
  background-color: #e5e5e5;
  border-color: #c0c0c0;
}

.price-controls {
  display: flex;
  gap: 2px;
  margin-bottom: 36px;
}

.price-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 143px;
  height: 48px;
  padding: 0 20px;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  transition: background-color 0.2s;
}

.price-control:last-child {
  border-radius: 0 4px 4px 0;
}

.price-control:hover {
  background-color: #e5e5e5;
}

.price-control:focus-within {
  outline: 3px solid #83b3d3;
  background-color: #e5e5e5;
}

.price-control-input {
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: transparent;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.price-control-input:focus {
  outline: none;
}

.price-control-label {
  line-height: 24px;
  color: #0000004d;
}

.range {
  display: flex;
  align-items: center;
  height: 20px;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: -webkit-grab;
  cursor: grab;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 #00000040;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 #00000040;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 #00000066;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  left: 206px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-top: 56px;
  gap: 32px;
}

.button-filter-submit {
  width: 190px;
}

.button-filter-submit:hover,
.button-filter-submit:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-filter-submit:active {
  color: #ffffff4d;
}

.button-filter-submit:disabled {
  background-color: #e5e5e5;
}

.button-filter-reset {
  width: 190px;
  background: transparent;
}

.button-filter-reset:hover {
  opacity: 0.6;
}

.button-filter-reset:focus {
  outline: 3px solid #83b3d3;
}

.button-filter-reset:active {
  color: #ffffff4d;
}

.button-filter-reset:disabled {
  opacity: 0.1;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-sort {
  display: flex;
  align-items: flex-start;
  min-height: 49px;
  margin-bottom: 40px;
}

.catalog-title {
  max-width: 450px;
  margin: 0 auto 0 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.catalog-select {
  width: 292px;
  height: 48px;
  margin: 0 70px 0 0;
  padding: 0 40px 0 18px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: url("../images/svg/arrow-black.svg") no-repeat center right 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.catalog-select:hover,
.catalog-select:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.catalog-select:disabled {
  background: url("../images/svg/arrow-grey.svg") no-repeat center right 18px;
}

.catalog-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  max-width: 216px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-view-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.catalog-view-link:hover {
  border: 2px solid #000000;
}

.catalog-view-link:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.catalog-view-link:active {
  border: 2px solid #000000;
}

.catalog-view-link-selected {
  border: 2px solid #000000;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0 0 40px;
  border-bottom: 1px solid #e6e6e6;
  list-style-type: none;
}

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 16px 20px;
  align-items: center;
  width: 340px;
  min-height: 438px;
  padding: 20px;
  box-shadow: 0 0 0 1px #e6e6e6;
  border-radius: 4px;
}

.product-card-link {
  grid-column: 1 / -1;
  height: 100%;
  text-decoration: none;
}

.product-card-link:focus {
  outline: none;
}

.product-card-link:hover .product-card-title,
.product-card-link:focus .product-card-title {
  color: #00000099;
}

.product-card-link:active .product-card-title {
  color: #0000004d;
}

.product-card-image {
  display: block;
}

.product-card-title {
  margin: 16px 0 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.product-card-description {
  margin: 0;
}

.product-card-price {
  margin: 0;
  text-align: right;
}

.product-card-more {
  background-color: #756157;
}

.product-card-more:hover,
.product-card-more:focus {
  background-color: #615048;
  outline: none;
}

.product-card-more:active {
  color: #ffffff4d;
}

.product-card-more:disabled {
  background-color: #e5e5e5;
}

.favorite-card:hover,
.favorite-card:focus {
  background-color: #68a2ca;
  outline: none;
}

.favorite-card:active {
  color: #ffffff4d;
}

.favorite-card:disabled {
  background-color: #e5e5e5;
}

.favorite-card-selected {
  background-color: #7db54f;
}

.favorite-card-selected:hover,
.favorite-card-selected:focus {
  background-color: #6c9e42;
  outline: none;
}

.favorite-card-selected:active {
  color: #ffffff4d;
}

.favorite-card-selected:disabled {
  background-color: #e5e5e5;
}

.stars {
  height: 17px;
  margin: 0;
  background-image: url("../images/svg/star.svg");
  background-repeat: repeat-x;
  background-position: left -3px center;
  background-size: 24px 17px;
  align-self: center;
}

.stars.one-stars {
  width: 24px;
}

.stars.two-stars {
  width: 48px;
}

.stars.three-stars {
  width: 72px;
}

.stars.four-stars {
  width: 96px;
}

.stars.five-stars {
  width: 120px;
}

.product-card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  margin: 0;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 40px 0 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-link[href]:hover,
.pagination-link[href]:focus {
  border: 1px solid #82b3d3;
  background-color: #68a2ca;
  outline: none;
}

.pagination-link[href]:active {
  color: #ffffff4d;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  color: #000000;
  border: none;
  background-color: #f2f2f2;
}

.pagination-more {
  color: #000000;
  background-color: transparent;
}
